.checkout-container {
  display: flex;
}
.cart-container {
  flex: 3;
}

.checkout-items-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.checkout {
  border: 1px solid #dddddd;
  width: 90%;
  margin: 2vh;
  padding: 1vh 0 0 0;
  text-align: center;
}

.checkout-header {
  width: 100%;
  color: green;
  padding: 2vh;
}

.checkout-total {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  background-color: #f3f3f3;
  border-top: 1px solid#dddddd;
}

.checkout-total > span {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.cart-item-container {
  display: flex;
}

.cart-img {
  width: 20vw;
  object-fit: contain;
  margin: 10px;
}

.cart-img > img {
  width: 100%;
  height: 100%;
}
.cart-item-heading {
  font-weight: bold;
  color: #0066c0;
  margin: 0;
}
.cart-item-heading:hover {
  color: #f08804;
  text-decoration: underline;
}

.cart-item-container {
  border-bottom: 1px solid #dddddd;
  padding: 15px;
}

.cart-item-container:nth-child(2) {
  border-top: 1px solid #dddddd;
}
.cart-item-detail-container {
  display: flex;
  flex: 4;
  justify-content: space-between;
}
.cart-item-price {
  font-weight: bold;
}

.delete-from-cart {
  font-size: 1rem;
  margin: 5px;
}

.delete-from-cart:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
